{% extends "base.html" %}

{% block body %}
    {% if data.name %}
        <h2 class="title">Edit {{ data.name }}</h2>
    {% else %}
        <h2 class="title">Tambah data</h2>
    {% endif %}
    <br/>

    <form class="form-horizontal" action="" method="post">
        {% for field in form %}
            <div class="control-group">
                {{ field.label(class="control-label") }}
                <div class="controls">
                    {{ field }}
                    {% for message in field.errors %}
                        <div class="red-alert">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" type="submit">Submit</button> or
                <a href="{{ url_for(prev_link) }}">Back</a>
            </div>
        </div>
    </form>
{% endblock %}