{% extends 'base.html' %}

{% block body %}
    <h2 class="pull-left">{{ title.title() }}</h2>
    <a class="btn btn-primary btn-title pull-right" href="{{ url_for('add_' + attr) }}">Tambah</a>
    <br class="clearfix"/>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nama</th>
            <th>Action</th>
        </tr>

        {% for d in data %}
            <tr>
                <td>{{ d.id }}</td>
                <td>{{ d.name }}</td>
                <td>
                    <a href="{{ url_for('edit_' + attr, id=d.id) }}">Edit</a>
                    |
                    <a href="{{ url_for('delete_' + attr, id=d.id) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}