<link rel="stylesheet" href="{{ url_for('static', filename='vendor/select2/select2.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-responsive.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='font/Sansation-fontfacekit/stylesheet.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
