<ul class="nav nav-list">
    <li class="home"><a href="{{ url_for('HomeView:index') }}">PD Teman Ban</a></li>

    <li class="nav-header">BASIC</li>
    <li class="item"><a href="{{ url_for('ItemView:index') }}">Barang</a></li>
    <li class="supplier"><a href="{{ url_for('SupplierView:index') }}">Pemasok</a></li>
    <li class="customer"><a href="{{ url_for('CustomerView:index') }}">Pelanggan</a></li>

    <li class="divider"></li>

    <li class="nav-header">FAKTUR</li>
    <li class="invoice_purchase"><a href="{{ url_for('PurchaseInvoiceView:index') }}">Faktur Pembelian</a></li>
    <li class="invoice_sale"><a href="{{ url_for('PurchaseInvoiceView:index') }}">Faktur Penjualan</a></li>

    <li class="divider"></li>

    <li class="nav-header">TRANSAKSI</li>
    <li class="transaction_purchase"><a href="#">Transaksi Pembelian</a></li>
    <li class="transaction_sale"><a href="#">Transaksi Penjualan</a></li>

    <li class="divider"></li>

    <li class="nav-header">ACCOUNT</li>
    {% if credential.is_login %}
        {% if credential.is_admin %}
            <li class="users"><a href="{{ url_for('UserView:index') }}">Edit user</a></li>
        {% endif %}

        <li><a href="{{ url_for('LogoutView:index') }}">Logout</a></li>
    {% else %}
        <li class="login"><a href="{{ url_for('LoginView:index') }}">Login</a></li>
    {% endif %}
</ul>
