                <!--
                <li class="nav-header">ACCOUNT</li>
                {% if credential.is_login %}
                    {% if credential.is_admin %}
                        <li class="users"><a href="{{ url_for('UserView:index') }}">Edit user</a></li>
                    {% endif %}

                    <li><a href="{{ url_for('LogoutView:index') }}">Logout</a></li>
                {% else %}
                    <li class="login"><a href="{{ url_for('LoginView:index') }}">Login</a></li>
                {% endif %}
                -->
