<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistem Informasi Penjualan</title>
    {% include "base_css_assets.html" %}
</head>
<body>
    <div class="row">
        <nav class="span3">
            {% include "base_menu.html" %}
        </nav>

        <div id="content" class="span9">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    {% include "base_js_assets.html" %}
</body>
</html>
