{% extends 'base.html' %}

{% block body %}
    <!-- message box -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-error">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    <form class=form-horizontal action=. method=post>
        <!-- username -->
        <div class=control-group>
            <label for=username class=control-label>Username</label>
            <div class=controls>
                <input type=text name=username id=username class=span2>
            </div>
        </div>

        <!-- password -->
        <div class=control-group>
            <label for=password class=control-label>Password</label>
            <div class=controls>
                <input type=password name=password id=password class=span2>
            </div>
        </div>

        <!-- submit button -->
        <div class=control-group>
            <div class=controls>
                <button class="btn btn-primary" type=submit>Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
