<div class="form-head">
    <h2 class="pull-left title">Barang</h2>
    <a class="btn btn-info btn-preposition-header" href="/#!/item/new">
        <i class="icon-plus icon-white"></i>
    </a>

    <div class="navbar-form pull-right">
        <input type="text" ng-model="search" class="search-query" placeholder="Pencarian" />
    </div>
    <br class="clearfix"/>
</div>

<div class="alert alert-info" ng-show="messages.error">
    <strong>as</strong>
</div>

<!-- content -->
<table class="table">
    <tr>
        <th>Barcode</th>
        <th>Nama</th>
        <th>Stok</th>
        <th>Harga Beli</th>
        <th>Harga Jual</th>
        <th>Action</th>
    </tr>

    <tr ng-repeat="d in data | filter:search" ng-class="{'error': (!data[$index].stock), 'warning': (data[$index].stock > 0 && data[$index].stock < 5) }">
        <td ng-bind-html-unsafe="d.barcode | highlight:search"/>
        <td ng-bind-html-unsafe="d.name | highlight:search"/>
        <td ng-bind-html-unsafe="d.stock || '-' | highlight:search"/>
        <td ng-bind-html-unsafe="d.price_buy | rupiah | highlight:search"/>
        <td ng-bind-html-unsafe="d.price_sell | rupiah | highlight:search"/>
        <td>
            <a ng-href="/#!/item/[[ d.id ]]">Edit</a>
            |
            <a href="/#!/item" ng-click="remove(d.id)">Delete</a>
        </td>
    </tr>

</table>
