<h2 class=title>
    Tambah data
</h2>

<div ng-show="messages">
    <div class="alert alert-error" ng-show="messages.error">
        <strong>Kode barcode atau nama barang sudah ada</strong>
    </div>
    <div class="alert alert-info" ng-show="messages.success">
        <strong>Data [[ item.name ]] berhasil ditambah</strong>
    </div>
</div>

<form class=form-horizontal name=addForm>
    <!-- barcode -->
    <div class=control-group>
        <label for=barcode class=control-label>Barcode</label>
        <div class=controls>
            <input type=text name=barcode id=barcode ng-model=item.barcode autocomplete=off maxlength=10 required autofocus />
        </div>
    </div>

    <!-- name -->
    <div class=control-group>
        <label for=name class=control-label>Nama</label>
        <div class=controls>
            <input type=text name=name id=name ng-model=item.name autocomplete=off maxlength=30 required />
        </div>
    </div>

    <!-- stock -->
    <div class=control-group>
        <label for=stock class=control-label>Stok</label>
        <div class=controls>
            <input type=number name=stock id=stock ng-model=item.stock ng-init="item.stock=0" min=0 required />
        </div>
    </div>

    <!-- price_buy -->
    <div class=control-group>
        <label for=price_buy class=control-label>Harga Beli (Rp)</label>
        <div class=controls>
            <input type=number name=price_buy id=price_buy ng-model=item.price_buy ng-init="item.price_buy=0" autocomplete=off min=0 required />
        </div>
    </div>

    <!-- price_sell -->
    <div class=control-group>
        <label for=price_sell class=control-label>Harga Jual (Rp)</label>
        <div class=controls>
            <input type=number name=price_sell ng-model=item.price_sell ng-init="item.price_sell=0" autocomplete=off min=0 required />
        </div>
    </div>

    <!-- submit -->
    <div class=control-group>
        <div class=controls>
            <button class="btn btn-primary" ng-click=add() ng-disabled=!addForm.$valid>Save</button> or
            <a href="/#!/item">Back</a>
        </div>
    </div>
</form>
