{% extends 'base.html' %}

{% block body %}
    <div class="form-head">
        <h2 class="pull-left title">Pengguna</h2>
        <a class="btn btn-info btn-preposition-header" href="{{ url_for('add_user') }}">
            <i class="icon-plus icon-white"></i>
        </a>

        <form class="navbar-form pull-right" action="{{ url_for('search_users') }}">
            <input type="text" name="query" class="search-query" placeholder="Pencarian nama pengguna" />
        </form>
        <br class="clearfix"/>
    </div>

    <!-- message box -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    <!-- content -->
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <th>Admin?</th>
            <th>Action</th>
        </tr>

        {% for d in data %}
            <tr>
                <td>{{ d.username }}</td>
                <td>
                    {% if d.is_admin %}
                        <span class="label label-info">Yes</span>
                    {% else %}
                        <span class="label">No</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('edit_user', id=d.id) }}">Edit</a>
                    |
                    <a href="{{ url_for('delete_user', id=d.id) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
